/* styles/NavBar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1E1E1E;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navLinks {
  display: flex;
  gap: 15px;
}

/* Estilo padrão para links */
.link {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo para "Home" e "Login" com fundo preto e texto branco */
.blackButton {
  background-color: #333;
  color: #fff;
}

.blackButton:hover {
  background-color: #333;
  color: #ffeb3b;
}

/* Estilo para "Registrar" com fundo branco e texto preto */
.whiteButton {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.whiteButton:hover {
  background-color: #f0f0f0;
  color: #000;
}
