.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
    background-color: #1E1E1E;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffeb3b; /* Título amarelo */
  }
  
  .questionsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  .questionItem {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .questionItem:hover {
    background-color: #444;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .pagination button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #ffeb3b;
    color: #000;
  }
  
  .pagination button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  .activePage {
    background-color: #ffeb3b;
    color: #000;
  }